body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

nav {
  & a {
    text-decoration: none;
    color: inherit;   
    font-size: 1.2rem;
    transition: all .4s ease;

    &:hover {
      color: lightblue;
    }
  }

  & .knight-logo {
    height: 4.9rem;
  }
}

main {
  & section:nth-child(2) {
    background: rgb(2,0,36);
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(143,100,198,1) 35%, rgba(0,212,255,1) 100%); 
  }
}

.circuit {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.greet-message {
  background: rgb(2,0,36);
  background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(56,9,121,1) 27%, rgba(0,212,255,1) 87%);
  padding: 1rem;
  border: 1px solid gold;
  text-shadow: 1px 1px 2px #98edf3;
}

.cpu {
  height: 14.9rem;
}

.stars {
  width: 3rem;
  height: 3rem;

  &:nth-child(2) {
    position: relative;
    bottom: 19px;
    animation: uniqueStar 3s linear infinite;
  }
}

.pc-parts {
  height: 21rem;
  object-fit: cover;
}

textarea {
  resize: none;
}

@media (width >= 768px) {
  .keypoints {
    position: absolute;
    top: 3rem;
  }
}

@media (width < 768px) {
  .vid {
    height: 21rem;
  }
}

@keyframes uniqueStar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}